<template>
    <div class="card">
        <div class="card-header">{{ title }}</div>

        <div class="card-body">
            <slot></slot>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['title']
    }
</script>

<style lang="scss" scoped>
	.card {
		margin-bottom: 0.5rem;
	}
</style>