<template>
  <div class="video-list">
    <div @click="chooseVideo(video.order)" :key="video.id" v-for="video in videos" :class="'thumbnail' + ( video.order === active ? ' active' : '' )">
      <div v-if="video.thumbnail" class="thumbnail-img">
        <img :src="video.thumbnail" />
      </div>
      <div class="thumbnail-info">
        <div class="video-progress">
          <span>{{ video.progress }}</span>
        </div>
        <h3 class="video-title">{{ video.title }}</h3>
      </div>
    </div>
	</div>
</template>

<script>
  import jQuery from 'jquery'
  import { Circle } from 'progressbar.js'

  export default {
  	name: 'VideoList',
    props: { videos: Array, active: Number },
    data: function () {
      return {
        progressBars: [],
      }
    },
    methods: {
      chooseVideo: function (ind) {
        this.$emit('change', ind);
      },
      updateProgress: function () {
        this.progressBars.forEach((el, i) => {
          el.animate(this.videos[i].progress);
        });
      }
    },
    mounted: function () {
      jQuery('.thumbnail .video-progress').each((i, el) => {
        let bar = new Circle(el, {
          strokeWidth: 10,
          color: '#3490dc',
          trailColor: '#ddd',
          trailWidth: 10,
        });
        this.progressBars.push(bar);
      });

      this.updateProgress();
    },
    updated: function () {
      this.updateProgress();
    },
    beforeDestroy: function () {
      this.progressBars.forEach(function (el) {
        el.destroy();
      });
    }
  }
</script>

<style lang="scss" scoped>
  @import '~@/_variables.scss';

  .video-list {
    background-color: #f2f2f2;
  }

	.thumbnail {
    display: flex;
    padding: 1rem;
    border-top: 1px solid #ccc;

    &:first-child {
      margin: 0;
      border: 0;
    }

    .thumbnail-img {
      margin-bottom: 0.5rem;
    }

    .video-title {
      font-size: 1.125em;
    }

		h3,
		p {
		  margin: 0;
		  padding: 0;
		}

		.thumbnail-info {
      display: flex;
      align-items: center;
    }

    .video-progress {
      width: 1.5rem;
      height: 1.5rem;
      overflow: visible;
      margin-right: 0.5rem;

      svg {
        width: 100%;
        height: 100%;
      }

      span {
        position: absolute;
        clip: rect(0,0,0,0);
      }
    }

    &.active .video-title {
      color: $blue;
      font-weight: bold;
    }

    &:hover {
      cursor: pointer;

      .video-title {
        color: $blue;
      }
    }
  }
</style>