<template>
  <div class="video-container">
    <div class="plyr__video-embed" id="player" v-html="iframe"></div>

    <div class="video-data">
      <h1 class="video-title">{{ video.title }}</h1>
    </div>
  </div>
</template>

<script>
  import Plyr from 'plyr'

  export default {
  	name: 'VideoPlayer',
    props: { video: Object },
    data: () => ({
      player: null,
      inited: false,
    }),
    computed: {
      iframe: function () {
        return `<iframe src="https://player.vimeo.com/video/${this.video.id}?loop=false&amp;byline=false&amp;portrait=false&amp;title=false&amp;speed=true&amp;transparent=0&amp;gesture=media" allowfullscreen allowtransparency allow="autoplay"></iframe>`;
      }
    },
    methods: {
      buildPlayer: function () {
        this.player = new Plyr('#player', {
          controls: ['play', 'progress', 'current-time', 'mute', 'volume', 'captions', 'settings', 'pip', 'airplay', 'fullscreen'],
          autoplay: false,
        });

        this.player.on('ready', this.ready);
        this.player.on('timeupdate', this.timeUpdate);
        this.player.on('playing', this.statusUpdate);
        this.player.on('pause', this.statusUpdate);
        this.player.on('playing', this.setMarker);
      },
      setMarker: function (ev) {
        if (this.player && this.inited) {
          if (this.video.currentTime > 0) {
            this.player.forward(this.video.currentTime);
          }
        }
      },
      ready: function (ev) {
        this.inited = true;
        this.player.play();
      },
      timeUpdate: function (ev) {
        const instance = ev.detail.plyr;
        let progress = instance.currentTime / instance.duration;
        this.$emit('progress', isNaN(progress) ? 0 : progress, instance.currentTime);
      },
      statusUpdate: function (ev) {
        this.$emit('status', ev.type);
      }
    },
    updated: function () {
      this.buildPlayer();
    },
    beforeDestroy: function () {
      this.player.off('timeupdate', this.timeUpdate);
      this.player.off('playing', this.statusUpdate);
      this.player.off('pause', this.statusUpdate);
      this.player.destroy();
    }
  }
</script>

<style lang="scss" scoped>
  .video-data {
    padding: 1rem;
  }

  .video-title {
    font-size: 1.5em;
  }
</style>
