<template>
  <div class="video-experience">
    <video-player 
      :video="this.lvideos[this.lactive]"
      v-on:progress="updateProgress"
      v-on:status="updateStatus" />
    <video-list 
      :videos="lvideos"
      :active="this.lactive"
      v-on:change="changeVideo" />
  </div>
</template>

<script>
  export default {
  	name: 'VideoExperience',
    props: { videos: Array, active: Number },
    data: function () {
      return {
        lvideos: this.videos,
        lactive: this.active,
        status: '',
      }
    },
    methods: {
      changeVideo: function (video) {
        this.lactive = video;
      },
      updateProgress: function (progress, currentTime) {
        this.lvideos[this.lactive].progress = progress;
        this.lvideos[this.lactive].currentTime = currentTime;
      },
      updateStatus: function (status) {
        this.status = status;
      },
    },
  }
</script>

<style lang="scss" scoped>
  .video-experience {
    background-color: white;
    border: 1px solid #ccc;

    @media (min-width: 992px) {
      display: flex;

      .video-list {
        flex: 0 0 30%;
        max-width: 30%;
        order: -1;
      }

      .video-container {
        flex-grow: 1;
      }
    }
  }
</style>